<footer>
  <data href="{{ "/" | relative_url }}"></data>

  <nav>
    <ul>
      {%- for path in site.header_pages -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
      <li><a href="{{ 'feed.xml' | relative_url }}">rss</a></li>
    </ul>
  </nav>

  <span class="site-description">{{ site.description }}</span>
</footer>
